*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    overflow: hidden;
    position: relative;
    background: #0d6efd;
}

input{
    display: none;
}

menu{
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%) rotate(0);
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
    z-index: 2;
}
menu span{
    position: absolute;
    height: 5px;
    width: 70%;
    background: #0d6efd;
    inset: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}
menu span:first-child{
    translate: 0 -15px;
}
menu span:last-child{
    translate: 0 15px;
}
#toggle:checked ~ label menu{
    transform: translate(-50%, -50%) rotate(90deg);
}
#toggle:checked ~ label menu span{
    display: none;
    width: 50%;
}
#toggle:checked ~ label menu span:first-child, #toggle:checked ~ label menu span:last-child{
    display: block;
    translate: 0;
    height: 6px;
}
#toggle:checked ~ label menu span:first-child{
    transform: translate(-50%, -50%) rotate(45deg);
}
#toggle:checked ~ label menu span:last-child{
    transform: translate(-50%, -50%) rotate(-45deg);
}

aside{
    position: absolute;
    height: 275px;
    width: 275px;
    inset: 50%;
    transform: translate(-50%, -50%) rotate(-180deg) scale(0);
    opacity: 0;
    z-index: 1;
    transition: .5s all ease;
}
aside span{
    position: absolute;
    height: 100px;
    width: 100px;
    background: white;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 600;
    color: #0d6efd;
    transition: .5s all ease;
    inset: 0;
    translate: 87.5% 87.5%;
    opacity: var(--opacity-state);
    rotate: var(--rotate-state);
    --opacity-state: 0;
}
aside span:nth-child(even){
    --rotate-state: 180deg;
}
aside span:nth-child(odd){
    --rotate-state: -180deg;
}
#toggle:checked ~ label aside{
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    opacity: 1;
}
#toggle:checked ~ label aside .one{
    rotate: 0;
    translate: var(--translate-state) 0;
}
#toggle:checked ~ label aside .two{
    rotate: 0;
    translate: 0 var(--translate-state);
}
#toggle:checked ~ label aside .three{
    rotate: 0;
    translate: var(--translate-state) var(--translate-state);
}
#toggle:checked ~ label aside .four{
    rotate: 0;
    translate: 0;
}
#toggle:checked ~ label aside span{
    --translate-state: 175%;
    --rotate-state: 0;
    --opacity-state: 1;
}